{% extends 'home/base.html' %} {% load static %} {% block body %}
<section class="hero-wrap hero-wrap-2" style="background-image: url(/static/home/images/bg_1.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2">
                        <a href="{% url 'home' %}">Início <i class="fa fa-chevron-right"></i></a>
                    </span>
                </p>
                <h1 class="mb-0 bread">Boletins Semanais</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            {% for newsletter in news %}
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    {% if newsletter.image %}
                    <a href="{% url 'newsletter' newsletter.id %}" class="block-20" style="background-image: url({{ newsletter.image.url}})"> </a>
                    {% endif %}
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">{{ news.date }}</a></div>
                            {% comment %} <div><a href="#">Admin</a></div> {% endcomment %}
                        </div>
                        <h3 class="heading"><a href="{% url 'newsletter' newsletter.id %}">{{ newsletter.title }}</a></h3>
                        {% if newsletter.shortDescription %}
                        <p>{{ newsletter.shortDescription }}</p>
                        {% endif %}
                        {% comment %} <p><a href="{% url 'newsletter' newsletter.id %}" class="btn btn-primary"></a></p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if news.has_other_pages %}
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if news.has_previous %}
                        <li><a href="?p={{ news.previous_page_number }}">&lt;</a></li>
                        {% else %}
                        <li><a disabled>&lt;</a></li>
                        {% endif %} {% for i in news.paginator.page_range %} {% if news.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                        <li><a href="?p={{ i }}">{{ i }}</a></li>
                        {% endif %} {% endfor %} {% if news.has_next %}
                        <li><a href="?p={{ news.next_page_number }}">&gt;</a></li>
                        {% else %}
                        <li><a disabled>&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
