{% extends 'home/base.html' %} {% load static %} {% block body %}
<section class="hero-wrap hero-wrap-2" style="background-image: url(/static/home/images/bg_1.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2"
                        ><a href="{% url 'home' %}">Início <i class="fa fa-chevron-right"></i></a
                    ></span>
                    <span>Eventos <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">Eventos</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for event in events %}
            <div class="col-md-12 event-wrap d-md-flex ftco-animate">
                <div class="img" style="background-image: url({{ event.image.url }})"></div>
                <div class="text p-4 px-md-5 d-flex align-items-center">
                    <div class="desc">
                        <h2 class="mb-4"><a href="{% url 'event' event.id %}">{{ event.title }}</a></h2>
                        <div class="meta">
                            <p>
                                <span><i class="fa fa-calendar mr-2"></i> {{ event.startTime }} - {{ event.endTime }}</span>
                                <span><i class="fa fa-map-marker mr-2"></i> <a target="_blank" href="{{ event.locationUrl }}">{{ event.locationName}}</a></span>
                                <span><i class="fa fa-building mr-2"></i> {{ event.address }}</span>
                            </p>
                        </div>
                        <p><a href="{% url 'event' event.id %}" class="btn btn-primary">Mais Detalhes</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
