{% extends 'home/base.html' %} {% load static %} {% block body %} {% if banners %}
<section class="hero-wrap js-fullheight">
    <div class="home-slider js-fullheight owl-carousel">
        {% for banner in banners %}
        <div class="slider-item js-fullheight" style="background-image: url({{ banner.backgroundImage.url }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text mt-md-5 w-100 text-center">
                            {% if banner.upperText %}
                            <h2>{{ banner.upperText }}</h2>
                            {% endif %}
                            <h1 class="mb-3">{{ banner.titulo }}</h1>
                            {% if banner.subtitulo %}
                            <p class="mb-4 pb-3">{{ banner.subtitulo }}</p>
                            {% endif %} {% if banner.botaoLink and banner.botaoText %}
                            <p class="mb-0"><a href="{{ banner.botaoLink }}" class="btn btn-primary py-3 px-2 px-md-4">{{ banner.botaoText }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %} {% if secao1 %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8 d-flex">
                <div class="row no-gutters">
                    <div class="col-4 col-md-4">
                        <div class="services-2">
                            <div class="icon"><span class="{{ secao1.icone1 }}"></span></div>
                            <div class="text">
                                <h4>{{ secao1.titulo1 }}</h4>
                                {% if secao1.subtitulo1 %}
                                <span class="subheading">{{ secao1.subtitulo1 }}</span>
                                {% endif %}
                                <p>{{ secao1.texto1 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="services-2">
                            <div class="icon"><span class="{{ secao1.icone2 }}"></span></div>
                            <div class="text">
                                <h4>{{ secao1.titulo2 }}</h4>
                                {% if secao1.subtitulo2 %}
                                <span class="subheading">{{ secao1.subtitulo2 }}</span>
                                {% endif %}
                                <p>{{ secao1.texto2 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="services-2">
                            <div class="icon"><span class="{{ secao1.icone3 }}"></span></div>
                            <div class="text">
                                <h4>{{ secao1.titulo3 }}</h4>
                                {% if secao1.subtitulo3 %}
                                <span class="subheading">{{ secao1.subtitulo3 }}</span>
                                {% endif %}
                                <p>{{ secao1.texto3 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="services-2 services-block">
                    <div class="text">
                        <h4>{{ secao1.servicesTitulo }}</h4>
                        {% if secao1.servicesSubtitulo %}
                        <p>{{ secao1.servicesSubtitulo }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao2 %}
<section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                {% if secao2.image %}
                <div
                    class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
                    style="background-image: url({{ secao2.image.url }})"
                ></div>
                {% endif %}
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5 mb-4">
                    {% if secao2.upperText %}
                    <span class="subheading">{{ secao2.upperText }}</span>
                    {% endif %}
                    <h2 class="mb-5">{{ secao2.titulo }}</h2>
                    <p>{{ secao2.texto }}</p>
                    {% if secao2.botaoLink and secao2.botaoText %}
                    <p><a href="{{ secao2.botaoLink }}" class="btn btn-primary">{{ secao2.botaoText }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao3 %}
<section class="ftco-counter bg-primary" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5 mb-md-0 text-center text-md-left">
                <h2 class="font-weight-bold" style="color: #fff; font-size: 22px; text-transform: uppercase">{{ secao3.titulo }}</h2>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="{{ secao3.valor1 }}">0</strong>
                            </div>
                            <div class="text">
                                <span>{{ secao3.dado1 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="{{ secao3.valor2 }}">0</strong>
                            </div>
                            <div class="text">
                                <span>{{ secao3.dado2 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="{{ secao3.valor3 }}">0</strong>
                            </div>
                            <div class="text">
                                <span>{{ secao3.dado3 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="{{ secao3.valor4 }}">0</strong>
                            </div>
                            <div class="text">
                                <span>{{ secao3.dado4 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao4 %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Nossos Sermões</span>
                <h2>Assista aos nossos Sermões</h2>
            </div>
        </div>
        {% for sermon in secao4 %}
        <div class="row no-gutters d-flex sermon-wrap ftco-animate bg-light">
            <div class="col-md-6 d-flex align-items-stretch ftco-animate {% if forloop.counter|divisibleby:2 != 0 %}order-md-last{% endif %}">
                <a href="#" class="img" style="background-image: url({{ sermon.thumbnail.url }})"></a>
            </div>
            <div class="col-md-6 ftco-animate d-flex align-items-center">
                <div class="text" style="padding: 2rem;">
                    <h2 class="mb-4"><a href="{{ sermon.link }}" taget="_blank">{{ sermon.title }}</a></h2>
                    <div class="meta">
                        <p>
                            <span>Pregador: <a class="ptr">{{ sermon.speaker }}</a></span>
                            {% comment %} <span>Categories: <a href="#">God</a>, <a href="#">Pray</a>, <a href="#">Faith</a></span> {% endcomment %}
                            <span><a>{{ sermon.date }}</a></span>
                        </p>
                    </div>
                    <p>{{ sermon.description }}</p>
                    <p class="mt-4 btn-customize">
                        <a href="{{ sermon.link }}" class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"><span class="fa fa-play"></span> Assistir Sermão</a>
                        {% comment %} <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3 ml-lg-2"><span class="fa fa-download"></span> Download Sermons</a> {% endcomment %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %} {% if secao5 %}
<section class="ftco-section testimony-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
                <span class="subheading">Testemunhos</span>
                <h2>Transformando Vidas</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    {% for testimony in secao5 %}
                    <div class="item">
                        <div class="testimony-wrap d-md-flex">
                            <div class="user-img" style="background-image: url({{ testimony.image.url }})"></div>
                            <div class="text pl-md-4">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                                <p>{{ testimony.shortDescription }}</p>
                                <p class="name">{{ testimony.name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao6 %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our Blog</span>
                <h2>Latest news from our blog</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('static/home/images/image_1.jpg')"> </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">July 20, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div>
                                <a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Building Holy &amp; Healthy Lives God’s</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        <p><a href="#" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('static/home/images/image_2.jpg')"> </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">July 20, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div>
                                <a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Building Holy &amp; Healthy Lives God’s</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        <p><a href="#" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('static/home/images/image_3.jpg')"> </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#">July 20, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div>
                                <a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Building Holy &amp; Healthy Lives God’s</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        <p><a href="#" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao7 %}
<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Events</span>
                <h2>Latest Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 event-wrap d-md-flex ftco-animate">
                <div class="img" style="background-image: url(static/home/images/event-1.jpg)"></div>
                <div class="text p-4 px-md-5 d-flex align-items-center">
                    <div class="desc">
                        <h2 class="mb-4"><a href="sermons.html">Giving Hope to Our Spiritual Needs</a></h2>
                        <div class="meta">
                            <p>
                                <span><i class="fa fa-calendar mr-2"></i> Monday, 8:00 Am - Tuesday, 8:00 Pm</span>
                                <span><i class="fa fa-map-marker mr-2"></i> <a href="#">Salvation Church</a></span>
                                <span><i class="fa fa-building mr-2"></i> 203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </p>
                        </div>
                        <p><a href="sermons.html" class="btn btn-primary">More Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 event-wrap d-md-flex ftco-animate">
                <div class="img" style="background-image: url(static/home/images/event-2.jpg)"></div>
                <div class="text p-4 px-md-5 d-flex align-items-center">
                    <div class="desc">
                        <h2 class="mb-4"><a href="sermons.html">Giving Hope to Our Spiritual Needs</a></h2>
                        <div class="meta">
                            <p>
                                <span><i class="fa fa-calendar mr-2"></i> Monday, 8:00 Am - Tuesday, 8:00 Pm</span>
                                <span><i class="fa fa-map-marker mr-2"></i> <a href="#">Salvation Church</a></span>
                                <span><i class="fa fa-building mr-2"></i> 203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </p>
                        </div>
                        <p><a href="sermons.html" class="btn btn-primary">More Details</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 event-wrap d-md-flex ftco-animate">
                <div class="img" style="background-image: url(static/home/images/event-3.jpg)"></div>
                <div class="text p-4 px-md-5 d-flex align-items-center">
                    <div class="desc">
                        <h2 class="mb-4"><a href="sermons.html">Giving Hope to Our Spiritual Needs</a></h2>
                        <div class="meta">
                            <p>
                                <span><i class="fa fa-calendar mr-2"></i> Monday, 8:00 Am - Tuesday, 8:00 Pm</span>
                                <span><i class="fa fa-map-marker mr-2"></i> <a href="#">Salvation Church</a></span>
                                <span><i class="fa fa-building mr-2"></i> 203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </p>
                        </div>
                        <p><a href="sermons.html" class="btn btn-primary">More Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if secao8 %}
<section class="ftco-section ftco-no-pb">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Fotos</span>
                <h2>Galeria de Fotos</h2>
            </div>
        </div>
        <div class="row no-gutters">
            {% for foto in secao8 %}
            <div class="col-md-3">
                <a href="{{ foto.image.url }}" class="image-popup img gallery ftco-animate" style="background-image: url({{ foto.image.url }})">
                    <span class="overlay"></span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
